<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDBConnection"
             connectionString="Data Source=localhost;Initial Catalog=InventoryDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
